POSTGRES_PASSWORD='Your password for the postgres user'
POSTGRES_USER='Your username for the postgres user'
POSTGRES_DB='Your database name'
POSTGRES_HOST='Your database host'
POSTGRES_PORT='Your database port'
PORT=4321
DB_HOST_PORT=5434
REDIS_HOST='Your redis host'
REDIS_PORT='Your redis port'
REDIS_PASSWORD='Your redis password'
REDIS_TTL='Your redis ttl'
