POSTGRES_PASSWORD='Your password for the postgres user'
POSTGRES_USER='Your username for the postgres user'
POSTGRES_DB='Your database name'
POSTGRES_HOST='Your database host'
POSTGRES_PORT='Your database port'
PORT=4321
DB_HOST_PORT=5434
